
@{
    ViewBag.Title = "Register2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><i>You have successfully Registered.</i></h2>
<h1> <b>Your user id is @Session["id"]</b></h1>

<p> @Html.ActionLink("return to home page","Index")</p>

